<header>
</header>
<main>
  <div class='container'>
    <div class='job-listing'>
      <div class='company-logo'>
        <img src='./assets/images/photosnap.svg' alt='Photosnap Logo' />
      </div>
      <div class='job-details'>
        <p>Photosnap
          <span class='new-tag'>NEW!</span>
          <span class='featured-tag'>FEATURED</span>
        </p>
        <h1>Senior Frontend Developer</h1>
        <ul class='job-meta'>
          <li>1d ago</li>
          <li>Full Time</li>
          <li>USA only</li>
        </ul>
      </div>
      <div class='job-tags'>
        <p>Frontend</p>
        <p>Senior</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
      </div>
    </div>
    <div class='job-listing'>
      <div class='company-logo'>
        <img src='./assets/images/manage.svg' alt='Manage Logo' />
      </div>
      <div class='job-details'>
        <p>Manage</p>
        <h1>Fullstack Developer</h1>
        <ul>
          <li>1d ago</li>
          <li>Part Time</li>
          <li>Remote</li>
        </ul>
      </div>
      <div class='job-meta'>
        <p>Fullstack</p>
        <p>Midweight</p>
        <p>Python</p>
        <p>React</p>
      </div>
    </div>
  </div>
</main>