<header>
  <div class='filter-bar'>
    <div class='filter-tag'>
      <p>Frontend</p>
      <img src='./images/icon-remove.svg' alt='' />
    </div>
    <div class='filter-tag'>
      <p>Frontend</p>
      <img src='./images/icon-remove.svg' alt='' />
    </div>
    <button type="button">Clear</button>
  </div>
</header>
<main class='container-xl'>
  <Listing @model={{@model}} />
</main>