<header>
</header>
<main>
  <div class='container-xl'>
    <div class='job-listing job-listing--new'>
      <div class='company-logo'>
        <img src='./assets/images/photosnap.svg' alt='Photosnap Logo' />
      </div>
      <div class='job-details'>
        <p class='company-name'>Photosnap
          <span class='new-tag'>NEW!</span>
          <span class='featured-tag'>FEATURED</span>
        </p>
        <h1>Senior Frontend Developer</h1>
        <div class='job-meta'>
          <p>1d ago &#183; Full Time &#183; USA only</p>
        </div>
      </div>
      <hr />
      <div class='job-tags'>
        <button>Frontend</button>
        <button>Senior</button>
        <button>HTML</button>
        <button>CSS</button>
        <button>JavaScript</button>
      </div>
    </div>
    <div class='job-listing'>
      <div class='company-logo'>
        <img src='./assets/images/manage.svg' alt='Manage Logo' />
      </div>
      <div class='job-details'>
        <p class='company-name'>Manage
          <span class='new-tag'>NEW!</span>
          <span class='featured-tag'>FEATURED</span>
        </p>
        <h1>Fullstack Developer</h1>
        <div class='job-meta'>
          <p>1d ago &#183; Part Time &#183; Remote</p>
        </div>
      </div>
      <hr />
      <div class='job-tags'>
        <button>Fullstack</button>
        <button>Midweight</button>
        <button>Python</button>
        <button>React</button>
      </div>
    </div>
  </div>
</main>